.form {
    align-items: center;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2196f361;
    border-left: 1px solid #2196f361;
    border-right: 1px solid #2196f361;
    border-radius: 0px 0px 4px 4px;
    padding: 0 1%;
}

.input {
    padding: 0 20px;
    border: none;
    border-radius: 0;
    width: 80%;
    font-size: 1.2em;
}